In [9]:
import pandas as pd
#Importamos el archivo csv, decodificamos empleanso ISO, indicamos que el separador es ';', y pedimos que omita la primera línea como registro (así lo toma como cabecera)
df = pd.read_csv('Resultado.csv', encoding='ISO-8859-1', sep=';', skiprows=1)
df.head(100)
#El problema es que no está separando los datos de fb e ig

                   Fecha Alcance de la página de Facebook
0    2021-12-21T00:00:00                                1
1    2021-12-22T00:00:00                                2
2    2021-12-23T00:00:00                                0
3    2021-12-24T00:00:00                                2
4    2021-12-25T00:00:00                                1
5    2021-12-26T00:00:00                                0
6    2021-12-27T00:00:00                                0
7    2021-12-28T00:00:00                                2
8    2021-12-29T00:00:00                                0
9    2021-12-30T00:00:00                                0
10   2021-12-31T00:00:00                                0
11   2022-01-01T00:00:00                                0
12   2022-01-02T00:00:00                                3
13   2022-01-03T00:00:00                                1
14   2022-01-04T00:00:00                                1
15   2022-01-05T00:00:00                                1
16   2022-01-06T00:00:00                                1
17   2022-01-07T00:00:00                                1
18   2022-01-08T00:00:00                               20
19   2022-01-09T00:00:00                              430
20   2022-01-10T00:00:00                             8143
21   2022-01-11T00:00:00                              264
22   2022-01-12T00:00:00                             1275
23   2022-01-13T00:00:00                             1171
24   2022-01-14T00:00:00                              849
25   2022-01-15T00:00:00                             1059
26   2022-01-16T00:00:00                              763
27   2022-01-17T00:00:00                              893
28                   NaN                              NaN
29  Alcance de Instagram                              NaN
30                 Fecha             Alcance de Instagram
31   2021-12-21T00:00:00                             5689
32   2021-12-22T00:00:00                             4154
33   2021-12-23T00:00:00                              544
34   2021-12-24T00:00:00                             4544
35   2021-12-25T00:00:00                                8
36   2021-12-26T00:00:00                             8785
37   2021-12-27T00:00:00                              484
38   2021-12-28T00:00:00                             8478
39   2021-12-29T00:00:00                              878
40   2021-12-30T00:00:00                              142
41   2021-12-31T00:00:00                               85
42   2022-01-01T00:00:00                                2
43   2022-01-02T00:00:00                               82
44   2022-01-03T00:00:00                               78
45   2022-01-04T00:00:00                             3654
46   2022-01-05T00:00:00                             6325
47   2022-01-06T00:00:00                              872
48   2022-01-07T00:00:00                             5858
49   2022-01-08T00:00:00                             5857
50   2022-01-09T00:00:00                             1267
51   2022-01-10T00:00:00                              421
52   2022-01-11T00:00:00                             3467
53   2022-01-12T00:00:00                             5623
54   2022-01-13T00:00:00                             9653
55   2022-01-14T00:00:00                             1986
56   2022-01-15T00:00:00                             6587
57   2022-01-16T00:00:00                             4236
58   2022-01-17T00:00:00                              963

In [13]:
#Filtramos los datos por el índice autogenerado para separar ig de fb. Donde fb es hasta 28.
#El operador & es para operaciones bit a bit, y para aplicarlo correctamente a condiciones en un DataFrame, debes rodear cada condición con paréntesis.
#Ambas condiciones deben estar entre paréntesis completos.
df_filtrafo_facebook = df.loc[(df.index >= 0) & (df.index < 28)]
df_filtrafo_facebook

                  Fecha Alcance de la página de Facebook
0   2021-12-21T00:00:00                                1
1   2021-12-22T00:00:00                                2
2   2021-12-23T00:00:00                                0
3   2021-12-24T00:00:00                                2
4   2021-12-25T00:00:00                                1
5   2021-12-26T00:00:00                                0
6   2021-12-27T00:00:00                                0
7   2021-12-28T00:00:00                                2
8   2021-12-29T00:00:00                                0
9   2021-12-30T00:00:00                                0
10  2021-12-31T00:00:00                                0
11  2022-01-01T00:00:00                                0
12  2022-01-02T00:00:00                                3
13  2022-01-03T00:00:00                                1
14  2022-01-04T00:00:00                                1
15  2022-01-05T00:00:00                                1
16  2022-01-06T00:00:00                                1
17  2022-01-07T00:00:00                                1
18  2022-01-08T00:00:00                               20
19  2022-01-09T00:00:00                              430
20  2022-01-10T00:00:00                             8143
21  2022-01-11T00:00:00                              264
22  2022-01-12T00:00:00                             1275
23  2022-01-13T00:00:00                             1171
24  2022-01-14T00:00:00                              849
25  2022-01-15T00:00:00                             1059
26  2022-01-16T00:00:00                              763
27  2022-01-17T00:00:00                              893

In [20]:
#Filtramos los datos por el índice autogenerado para separar ig de fb. Donde Ig es apartir del dato 31.
df_filtrafo_instagram = df.loc[df.index > 30]
df_filtrafo_instagram = df_filtrafo_instagram.rename(columns={"Alcance de la página de Facebook": "alcance de la página de Instagram"})
df_filtrafo_instagram

                  Fecha alcance de la página de Instagram
31  2021-12-21T00:00:00                              5689
32  2021-12-22T00:00:00                              4154
33  2021-12-23T00:00:00                               544
34  2021-12-24T00:00:00                              4544
35  2021-12-25T00:00:00                                 8
36  2021-12-26T00:00:00                              8785
37  2021-12-27T00:00:00                               484
38  2021-12-28T00:00:00                              8478
39  2021-12-29T00:00:00                               878
40  2021-12-30T00:00:00                               142
41  2021-12-31T00:00:00                                85
42  2022-01-01T00:00:00                                 2
43  2022-01-02T00:00:00                                82
44  2022-01-03T00:00:00                                78
45  2022-01-04T00:00:00                              3654
46  2022-01-05T00:00:00                              6325
47  2022-01-06T00:00:00                               872
48  2022-01-07T00:00:00                              5858
49  2022-01-08T00:00:00                              5857
50  2022-01-09T00:00:00                              1267
51  2022-01-10T00:00:00                               421
52  2022-01-11T00:00:00                              3467
53  2022-01-12T00:00:00                              5623
54  2022-01-13T00:00:00                              9653
55  2022-01-14T00:00:00                              1986
56  2022-01-15T00:00:00                              6587
57  2022-01-16T00:00:00                              4236
58  2022-01-17T00:00:00                               963

In [ ]:
#Si los datos cambias, es mejor emplear un contador que te permita generar un nuevo df cuando encuentre ciertas palabras.